/*公共*/
body,div,a,input,h5,p,span,i,h4{
    padding: 0px;
    margin: 0px;
}
[v-cloak]{
    display: none;
}
td { text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.fl{
    float: left;
}
.fr{
    float: right;
}
.w{
    width: 100%;
}
.inline{
    display: inline-block;
}
.center{
    text-align: center;
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
/*头部*/
.header{
    height: 16vh;
    width: 100%;
    background-color: #EFEFEF;
}
.logo{
    height: 12vh;
    width: 12vh;
    margin: 2vh 1vh;
    border-radius: 50%;
}
.logo_title{
    line-height: 16vh;
    margin-left: 1vh;
    font-size: 4.5vh;
}
.ma{
    height: 16vh;
    width: 16vh;
}
.calendar{
    font-family:"iconfont" !important;
    font-style:normal;
    font-size: 4.5vh;
    margin-right: 5px;
    white-space:pre;
    /*color: #666!important;*/
}
.show_time{                /*当前时间*/
    line-height: 16vh;
    font-size: 4vh;
    margin-right: 3vw;
    color: #23407A;
}

/*内容部分*/
.content{
    height: 75vh;
    width: 100%;
    background: url("../images/bg.jpg");
    background-size: cover;
    /*background-color: #004394;*/
}
.local{
    font-family:"iconfont" !important;
    font-style:normal;
    font-size: 4vh;
    margin-right: 2px;
    color: #fff;
}
.meet_name{ /*会议室名*/
    height: 10vh;
    width: 95vw;
    line-height: 10vh;
    font-size: 4vh;
    font-weight: bold;
    padding-left: 5vw;
    color: #eee;
}
.meet_content{
    height: 55vh;
    width: 100%;
    padding-bottom: 10vh;
}
.meet_content table{
    height: 55vh;
    width: 90vw;
    margin: 0 auto;
    border-collapse:collapse;
    /*border: 1px solid red;*/
}
.meet_content th{
    font-size: 4vh;
    background-color: #AD7C06;
}
.meet_content td{
    font-size: 4vh;
    text-align: center;
    height: 10vh;
    background-color:#eee;
}
.meet_table_top{
    height: 15vh;
}
/*底部部分*/
.footer{
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    background-color: #eee;
}
.company{
    font-size: 12px;
}