<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>会议室管理中心</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="favicon_16.ico"/>
  <!-- <link rel="bookmark" href="favicon_16.ico"/> -->
  <!-- site css -->
  <link rel="stylesheet" href="layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="dist/css/site.min.css">
  <script src="layui/layui.js" charset="utf-8" type="text/javascript"></script>
  <link rel="stylesheet" href="dist/css/me.css">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="dist/js/site.min.js"></script>
  <script type="" src="dist/js/jquery.cookie.js"></script>
  <script src="dist/js/vue.min.js"></script>
</head>
<body>
<!--nav 顶部导航栏-->
<div class="headerpage"></div>
<!--header-->

<div class="container-fluid">
  <!--documents内容-->
  <div class="row row-offcanvas row-offcanvas-left">
    <!--内容左边导航-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
      <ul class="list-group panel">
        <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>功能</b></li>
        <li class="list-group-item"><input type="text" class="form-control search-query" placeholder="查找功能"></li>
        <li class="active">
          <a href="ht_index.html" class="list-group-item"><i class="glyphicon glyphicon-home"></i>主界面 </a>
        </li>
        <li>
          <a href="#xitong" class="list-group-item " data-toggle="collapse">
            <i class="glyphicon glyphicon-cog"></i>系统管理
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <div class="collapse" id="xitong">
            <a href="ht_account.html" class="list-group-item">账号管理</a>
            <a href="ht_company.html" class="list-group-item">雇主信息</a>
            <a href="ht_notice.html" class="list-group-item">公告管理</a>
          </div>
        </li>

        <li>
          <a href="#huiyi" class="list-group-item" data-toggle="collapse">
            <i class="glyphicon glyphicon-calendar"></i>会议管理
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <div class="collapse" id="huiyi">
            <a href="ht_shenhe.html" class="list-group-item">会议审核</a>
            <a href="ht_meet.html" class="list-group-item">会议室管理</a>
            <a href="ht_tag.html" class="list-group-item">会议室标签</a>
          </div>
        </li>
        <li>
          <a href="ht_users.html" class="list-group-item">
            <i class="glyphicon glyphicon-user"></i>成员管理
          </a>
        </li>
        <li>
          <a href="ht_service.html" class="list-group-item">
            <i class="glyphicon glyphicon-flash"></i>客户服务
          </a>
        </li>
        <li>
          <a href="#" class="list-group-item">
            <i class="glyphicon glyphicon-bell"></i>今日详情
          </a>
        </li>
        <li>
          <a href="#" class="list-group-item">
            <i class="glyphicon glyphicon-indent-left"></i>查询分析
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> 个人信息</h3>
        </div>
        <div class="panel-body">
          <div class="content-row">
            <div class="row" id="userVm" v-cloak>
              <div class="col-md-2">
                <h4 class="me_center mz_touxiang_t">
                  <!--<span>owl</span>-->
                </h4>
                <div class="mz_touxiang">
                  <img src="" id="mz_touxiang_img">
                  <a id="mz_up_touxiang"><i class="layui-icon">&#xe67c;</i>更换头像</a>
                </div>

              </div><!-- 头像-->
              <div class="col-md-10 me_margin_mtop me_kuochong">
                <ul id="mz_admin_info">
                  <li>
                    ID：<span>{{user.id}}</span><a class="pull-right" id="edit_info">修改信息</a>
                  </li>
                  <li>用户名：<span>{{user.name}}</span></li>
                  <!--<li>性别：<span>男</span></li>-->
                  <!--<li>生日：<span>1995-03-08</span></li>-->
                  <li>公司：<span>{{user.companyName}}</span></li>
                  <li>部门：<span>{{user.department.name}}</span></li>
                  <li>电话号码：<span>{{user.phone}}</span></li>
                  <li>邮箱：<span>{{user.email}}</span></li>

                  <li>身份：
                    <span v-if="user.role==1">普通用户</span>
                    <span v-if="user.role==2">HR</span>
                    <span v-if="user.role==3">后勤</span>
                    <span v-if="user.role==4">管理员</span>
                  </li>


                  <!--<li>参加会议数：<span>10</span></li>-->
                  <!--<li>发起会议数：<span>2</span></li>-->
                  <!--<li>-->
                    <!--简介：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<span class="mz_info_intro">-->
                      <!--就飞快的将疯狂夺金法鸡 就飞快的将疯狂夺金法鸡 就飞快的将疯狂夺金法鸡-->
                    <!--就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡-->
                    <!--就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡-->
                    <!--就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡-->
                    <!--就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡就飞快的将疯狂夺金法鸡-->
                    <!--</span>-->
                  <!--</li>-->
                </ul>
              </div><!-- 详细信息-->
            </div>
          </div>
        </div><!-- panel body -->
      </div>
    </div><!-- content -->
  </div>
</div>
<!--footer-->
<div id="mz_edit_info" style="display: none;margin: 10px 70px 0 0px">
  <form class="layui-form me_margin_top" id="user_edit" action="" lay-filter="editForm">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">手机号</label>
      <div class="layui-input-block">
        <input type="text" name="phone" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <input type="password" name="password" if="psw1" required  lay-verify="psw" placeholder="***" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">邮箱</label>
      <div class="layui-input-block">
        <input type="text" name="email" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">权限</label>
      <div class="layui-input-block">
        <select name="role" lay-verify="required" lay-search>
          <option value=""></option>
          <option value="1">普通用户</option>
          <option value="2">HR</option>
          <option value="3">后勤</option>
          <option value="4">管理员</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">公司</label>
      <div class="layui-input-block">
        <select name="companyId" class="edit_company" id="companyId" lay-verify="required">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">部门</label>
      <div class="layui-input-block">
        <select name="department" id="department"  class="edit_department" lay-verify="required">
          <option value=""></option>
        </select>
      </div>
    </div>
  </form>
</div>

<script>
    $(".headerpage").load("./page/header.html");

    //获取cookie
    var ldata= {
        phone : $.cookie("login_code")
    };
    // console.log(ldata);

    //获取登陆者信息
    function getInfo(){
        $.ajax({
            url: 'http://lsudjh.top:8081/user/listEntity',
            type: 'post',
            data: JSON.stringify(ldata) ,
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result) {
                var tdata = result.data.data[0];
                if(result.code==0){
                    console.log(tdata);
                    if(tdata.company!=null&&tdata.company!=""){
                        tdata.companyId = tdata.company.id;   //渲染select用
                        tdata.companyName = tdata.company.name;
                    }else{
                        tdata.companyId = 0;
                        tdata.companyName = "无";
                    }
                    if(tdata.department==null||tdata.department==''){
                        tdata.department.name = '无'
                        tdata.departmentId = 0;
                    } else {
                        tdata.departmentId = tdata.department.id;   //渲染select用
                        tdata.departmentName = tdata.department.name;
                    }

                    vm.imgId = tdata.id;
                    vm.user = tdata;
                    if(tdata.avatar=="default.jpg"){
                        $('#mz_touxiang_img').attr('src', "dist/img/bg2.jpg");
                    } else {
                        $('#mz_touxiang_img').attr('src', tdata.avatar);
                    }

                } else {
                    alert('系统错误，请稍后再试');
                }
            }
        });
    }
    getInfo();

    //vue渲染
    var vm = new Vue({
        el: '#userVm',
        data:{
            way: '用户名',
            v: 0,
            imgId: 1,
            user: {
                avatar: '',
                company: {
                    code: '',
                    cost: '',
                    hr: [],
                    id: '',
                    name: ''

                },
                department: {
                    compangyId: '',
                    id: '',
                    name: ''
                },
                companyId: '',
                companyName: '',
                email: '',
                id: '',
                name: '',
                phone: '',
                role: ''
            }
        },
        methods:{

        }
    });

    //上传头像
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#mz_up_touxiang'
            ,url: 'http://lsudjh.top:8081/file/headImage'
            ,data: {
                id: function(){
                    return vm.imgId;
                }
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                $('#mz_touxiang_img').attr('src', res.data);
                alert("更换成功");
                //上传成功
            }
        });
    });

    //获取公司信息，并渲染(edit)
    function getCompany(company,id){
        // console.log(id)
        $.ajax({
            url:"http://lsudjh.top:8081/company/listEntity",
            type:"POST",
            data:'{}',
            contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
            success:function(result){ //所有错误信息都如result.message有关
                if(result.code==0){
                    layui.use('form', function(){
                        var form = layui.form;

                        company.empty();
                        company.append("<option value=''></option>" );
                        for(var i=0; i<result.data.data.length; i++) {
                            // console.log(result.data.data[i])
                            if(id!=result.data.data[i].id){
                                company.append("<option value=\"" +result.data.data[i].id+"\">" + result.data.data[i].name + "");
                            }else {
                                company.append("<option selected value=\"" +result.data.data[i].id+"\">" + result.data.data[i].name + "");
                            }
                        }
                        form.render('select');
                    });
                }
            }
        });
    }

    //修改信息
    $('#edit_info').on("click", function () {
        var company = $('.edit_company');
        var data = vm.user;
        // console.log(data);
        if(data.companyId!=""&&data.companyId!=null) {
            getCompany(company, data.companyId);
        } else{
            getCompany(company,0);
        }
        layui.use('form', function(){
            var form = layui.form;

            var department = $('#department');
            var tdata = {
                companyId: company.val()
            };
            $.ajax({
                url: "http://lsudjh.top:8081/department/listEntity",
                type:"POST",
                data:JSON.stringify(tdata),
                contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                success: function (result) {
                    console.log(result);
                    for(var i=0; i<result.data.data.length; i++) {
                        if(vm.user.departmentId!=result.data.data[i].id) {
                            department.append("<option value=\"" + result.data.data[i].id + "\">" + result.data.data[i].name + "</option>");
                        } else {
                            department.append("<option selected value=\"" + result.data.data[i].id + "\">" + result.data.data[i].name + "</option>");
                        }
                    }
                    form.render('select');
                }
            });
            // console.log(data);
            // data.companyId = data.company.id;
            form.val("editForm", vm.user);
        });
        layer.open({
            type: 1
            ,title: "编辑信息" //不显示标题栏
            // ,closeBtn: true
            ,area: '400px'
            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            ,btn: ['确定', '取消']
            ,btnAlign: 'c'
            ,moveType: 1 //拖拽模式，0或者1
            ,content: $('#mz_edit_info')
            ,yes:function (index, layero) {
                var tdata = $('form[id="user_edit"]').serializeObject();
                tdata.id = data.id;
                console.log(tdata);
                //修改信息
                $.ajax({
                    url:"http://lsudjh.top:8081/user/update",
                    type:"POST",
                    data:JSON.stringify(tdata),
                    contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                    success:function(result){ //所有错误信息都如result.message有关

                        if(result.code==0){
                            $('#user_edit')[0].reset();
                            layer.close(index);  //关闭弹出层
                            tdata.password = '';
                            //获取公司信息
                            $.ajax({
                                url:"http://lsudjh.top:8081/company/get",
                                type:"POST",
                                data:'{id:'+tdata.companyId+'}',
                                contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                                success:function(result){ //所有错误信息都如result.message有关
                                    console.log(result);
                                    alert(result.msg);
                                    if(result.code==0){
                                        tdata.companyName= result.data.name; //公司名
                                        console.log(tdata);
                                        vm.user = tdata;
                                    }
                                }
                            });
                        } else{
                            alert('系统错误请重试')
                            layui.use('form', function(){
                                var form = layui.form;
                                form.val("editForm", data);
                            });
                        }

                    }
                });
            }
            ,btn2:function (index, layero) {

            }
        });
    });

    /**
     * 自动将form表单封装成json对象
     */
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [ o[this.name] ];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
</body>
</html>
