<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="dist/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="dist/me/css/meet_show.css">
    <link rel="stylesheet" type="text/css" href="dist/me/css/base.css">
    <script src="dist/me/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="dist/layui/layui.js" type="text/javascript"></script>
    <script type="" src="dist/me/js/jquery.cookie.js"></script>
    <script src="dist/me/js/vue.min.js" type="text/javascript"></script>
    <title>会议室详情介绍</title>
</head>

<body>
    <div class="goback">
        <a href="meetlist.html">返回会议室列表</a>
    </div>
    <div class="layui-container" id="meet_show">
        <div class="header_info">
            {{meetInfo.name}}：{{meetInfo.building.location}}-{{meetInfo.address}}
        </div>
        <div class="layui-carousel" id="slider_img">
            <div carousel-item class="img_swiper">
                <div v-if="meetRoomImg.length==0" >
                    <img src="images/huiyi1.jpg"style="width: 100%;height: 100%">
                </div>

                <!--<img v-for="(item, i) in meetRoomImg" src="item.url">-->
                <div v-for="item in meetRoomImg">
                    <img v-bind:src='item.url' style="width: 100%;height: 100%">
                </div>
                <!--<div>-->
                <!--<img src="dist/img/huiyi4.jpg" style="width: 100%;height: 100%">-->
                <!--</div>-->

            </div>
            <div class="img_describe">容量：{{meetInfo.volume}}</div>
        </div>
        <!-- 条目中可以是任意内容，如：<img src=""> -->
        <div class="pflags">
            <div class="pflag" v-if="meetInfo.tag.length==0">
                <h5>无标签</h5>
            </div>
            <div class="pflag" v-for="(item,i) in meetInfo.tag">
                <h5>{{item.name}}</h5>
            </div>

            <br style="clear:both;" /><!--清楚浮动带来的内部无法撑开父元素-->
        </div>
        <!--<br>-->
        <div class="meet_describe">
            <p style="margin-bottom: 10px">设备：
                <span style="margin-right: 20px" v-if="meetInfo.equipment.length==0">无</span>
                <span v-for="(item,i) in meetInfo.equipment" style="margin-right: 20px">{{item.name}}</span>
            </p>
            <p>
                介绍：{{meetInfo.detail}}
                <span v-if="meetInfo.detail==''||meetInfo.detail==null">无</span>
            </p>
        </div>
        <div class="meet_apply">
            <div class="fl">
                <p class="fl">预计预定成功率：80%</p>
                <p class="fl" >累计预定次数：{{meetInfo.hot}}次</p>
                <p class="fl" >价格：{{meetInfo.price}}元/小时</p>
            </div>
            <a class="fr" id="apply_then">立即预定</a>
        </div>

        <div class="calendar_table">
            <hr>
            <br>
            <div id="calender1" class="fl"></div>
            <div class="table_list fr">
                <table class="layui-hide" id="mz_shenhe_table" lay-filter="mz_shenhe_table"></table>
                <div id="laypage_user"></div>
            </div>
            <br style="clear:both;" />
        </div>
        <div class="other"></div>
    </div>


    <!--添加预约弹出框-->
    <div id="mz_add_info" style="display: none;">
        <form class="layui-form " id="apply_add" action="" lay-filter="addForm">
            <div class="layui-form-item">
                <label class="layui-form-label">主题</label>
                <div class="layui-input-block">
                    <input type="text" name="topic"  lay-verify="required" placeholder="请输入主题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="day"  name="day" required lay-verify="required" placeholder="请选择日期" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会议室</label>
                <div class="layui-input-block" style="width: 240px">
                    <select name="roomId" id="roomId"  class="add_room" lay-verify="required">
                        <option></option>
                    </select>
                </div>
            </div>
            <script>
                function fill_0(event) {
                    if(event.value<10){
                        event.value = '0'+event.value%10;
                    }
                }
            </script>
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline" style="width: 110px">
                    <input type="number" min="0" max="23" onchange="fill_0(this)"  step="1" name="begin_h" required lay-verify="required" placeholder="时钟" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width: 110px">
                    <input type="number" min="0" max="59" onchange="fill_0(this)" step="15" name="begin_s" required lay-verify="required" placeholder="分钟" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline" style="width: 110px" >
                    <input type="number"  min="0" max="23" onchange="fill_0(this)"  step="1" name="end_h" required lay-verify="required" placeholder="时钟" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline"  style="width: 110px">
                    <input type="number"  min="0" max="59" onchange="fill_0(this)"  step="15" name="end_s" required lay-verify="required" placeholder="分钟" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">人数</label>
                <div class="layui-input-block">
                    <input type="text" name="attendance" required  lay-verify="required" placeholder="参加人数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">调剂</label>
                <div class="layui-input-block">
                    <input type="radio" name="flexible" value="1" title="接受" checked="">
                    <input type="radio" name="flexible" value="0" title="不接受">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">会议介绍</label>
                <div class="layui-input-block">
                    <textarea name="intro" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
        </form>
    </div>
    <script type="text/html" id="tstatus"><!--公司-->
    {{#  if(d.status == 0){ }}
    <p>未安排</p>
    {{#  }else if(d.status==1) { }}
    <p>安排</p>
    {{# } else if(d.status==2) { }}
    <p>进行中</p>
    {{# } else if(d.status==3) { }}
    <p>结束</p>
    {{#  } }}
    </script>
    <script type="text/html" id="tflex"><!--部门-->
    {{#  if(d.flexible == 1){ }}
    <p>支持</p>
    {{#  } else { }}
    <p>不支持</p>
    {{#  } }}
    </script>
    <script type="text/html" id="tuse">
        {{#
        var time = function(){
        var start = d.beginTime.split(':')[0]+':'+d.beginTime.split(':')[1];
        var end = d.endTime.split(" ")[1];

        return start+'-'+end.split(":")[0]+':'+end.split(":")[1];
        };
        }}
        {{time()}}
    </script>
    <script>
        function getMeet(meet){
            $.ajax({
                url:"http://lsudjh.top:8081/meetingRoom/listEntity",
                type:"POST",
                data:'{}',
                contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                success:function(result){ //所有错误信息都如result.message有关
                    console.log(result);
                    if(result.code==0){
                        layui.use('form', function(){
                            var form = layui.form;
                            meet.empty();
                            meet.append("<option value=''></option>" );
                            meet.append("<option value=''>服从分配</option>" );
                            for(var i=0; i<result.data.data.length; i++) {
                                if(result.data.data[i].id==window.location.href.split('=')[1]){
                                    meet.append("<option selected value=\"" +result.data.data[i].id+"\">" + result.data.data[i].name + "");
                                } else{
                                    meet.append("<option value=\"" +result.data.data[i].id+"\">" + result.data.data[i].name + "");
                                }
                            }
                            form.render('select');
                        });
                    }
                }
            });
        }
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [ o[this.name] ];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        $(function () {
            $('#apply_then').on('click', function () {
                var meet = $('#roomId');
                getMeet(meet);
                layer.open({
                    type: 1
                    ,title: "预约申请" //不显示标题栏
                    ,area: ['480px','500px']
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['确定', '取消']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: $('#mz_add_info')
                    ,yes:function (index, layero) {
                        var tdata = $('form[id="apply_add"]').serializeObject();
                        tdata.beginTime = tdata.day+' '+tdata.begin_h+':'+tdata.begin_s;
                        tdata.endTime = tdata.day+' '+tdata.end_h+':'+tdata.end_s;
                        tdata.workerId = $.cookie('id');
                        $.ajax({
                            url:"http://lsudjh.top:8081/meetingApply/apply",
                            type:"POST",
                            data:JSON.stringify(tdata),
                            contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                            success:function(result){ //所有错误信息都如result.message有关
                                alert(result.msg);
                                if(result.code==0){
                                    $('#apply_add')[0].reset();
                                    layer.close(index);  //关闭弹出层
                                    layui.use('table', function () {
                                        var table = layui.table;
                                        table.reload('shenheTable', {
                                            where:{
                                                order :'id asc'
                                            }
                                        });
                                    })

                                } else{
                                    // console.log($('#user_add'));
                                    // $('#apply_add')[0].reset();   //[0]必须得加
                                }
                            }
                        });

                    }
                    ,btn2:function (index, layero) {
                        // $('#user_add')[0].reset();   //[0]必须得加，清楚已填数据
                    }
                });
            });
        });

        var vm = new Vue({
            el: '#meet_show',
            data: {
                meetInfo: {
                    address: "",
                    autoList: [],
                    building: {id: '', location: ""},
                    cover: "",
                    detail: "",
                    equipment: [],
                    hot: ',',
                    id: '',
                    isUsing: 0,
                    name: "",
                    price: 40,
                    tag: [],
                    volume: ''
                },
                meetRoomImg:[]
            },
            methods: {
                getMeetInfo(){
                    var data = {id: window.location.href.split('=')[1] };
                    $.ajax({
                        url:"http://lsudjh.top:8081/meetingRoom/listEntity",
                        type:"POST",
                        data:JSON.stringify(data),
                        contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                        success:function(result){ //所有错误信息都如result.message有关
                            if(result.code==0){
                                vm.meetInfo = result.data.data[0];
                            }
                            // console.log(result);
                        }
                    });
                }
            }
        })
        vm.getMeetInfo();

        // 数据表
        var curnum = 1;
        var size = 6;
        var today = new Date().Format("yyyy-MM-dd");
        // console.log(today);
        layui.use(['table','laypage'], function(){
            var table = layui.table;
            var laypage = layui.laypage;
            table.render({
                elem: '#mz_shenhe_table'     //未审核
                ,url:'http://lsudjh.top:8081/meetingApply/listEntity'
                ,method: 'post'
                ,contentType: 'application/json'
                ,title: '预约数据表'
                ,id:'shenheTable'
                ,cellMinWidth:80
                ,cols: [[
                    {type: 'checkbox'}
                    // ,{field:'id', title:'ID', width:80, unresize: true, sort: true}
                    ,{field:'topic', title:'会议主题',width:120, unresize: true}
                    ,{field:'attendance', title:'人数', unresize: true}
                    ,{field:'applyTime', title:'提交时间', width:160, unresize: true}
                    // ,{field:'applyUpdateTime', title:'修改时间', width:160, unresize: true}
                    ,{field:'useTime', title:'申请时间段', width:182, sort: true, unresize: true,
                        templet:'#tuse'}
                    ,{field:'status', title:'状态',width:80, unresize: true,templet: '#tstatus'}
                    ,{field:'flexible', title:'调剂', unresize: true,templet: '#tflex'}
                ]]
                ,page: false
                ,where: {size:size, page:curnum,order :'id asc',beginTime: today+' 1:1,'}
                ,parseData: function(res){ //res 即为原始返回的数据
                    // console.log(res);
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.total, //解析数据长度
                        "data": res.data.data //解析数据列表
                    };
                }
                ,done: function(res, curr, count) {
                    laypage.render({
                        elem: 'laypage_user'
                        , count: count
                        , curr: curnum
                        , limit: size
                        , layout: ['prev', 'page', 'next', 'skip', 'count', 'refresh']
                        , jump: function (obj, first) {
                            if (!first) {
                                curnum = obj.curr;
                                size = obj.limit;
                                table.reload('shenheTable', {
                                    where:{
                                        size: obj.limit
                                        ,page: obj.curr
                                        ,order :'id asc'
                                    }
                                });
                            }
                        }
                    })
                }
            });

        });

        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#slider_img'
                ,width: '100%' //设置容器宽度
                ,arrow: 'always' //始终显示箭头
                ,height:'450px'
            });
        });
        layui.use(['laydate','table'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            //查看预定的左边日历
            laydate.render({
                elem: '#calender1' //指定元素
                // ,show: true //直接显示
                ,position: 'static'
                ,calendar: true
                ,done: function(value, date, endDate){//切换日期
                    console.log(value); //得到日期生成的值，如：2017-08-18

                    table.reload('shenheTable', {
                        where:{
                            size: 6
                            ,page: 1
                            ,order :'id asc'
                            ,beginTime: value+' 0:0,'+value+' 23:59'
                            ,workerId: ''
                        }
                    });
                    // console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    // console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                }
                ,ready: function(date){
                    var all = $('.laydate-btns-clear');
                    all.html('全部').attr('lay-type','');
                    var ltoday = new Date().Format("yyyy-MM-dd");
                    all.on('click', function () {
                        table.reload('shenheTable', {
                            where:{
                                size: 6
                                ,page: 1
                                ,order :'id asc'
                                ,beginTime: ltoday+' 0:0,'
                                ,workerId: ''
                            }
                        });
                    })

                    $('.laydate-btns-now').html('今日');

                    var me = $('.laydate-btns-confirm');
                    me.html('我的').attr('lay-type','');
                    var ltoday = new Date().Format("yyyy-MM-dd");
                    me.on('click', function () {
                        table.reload('shenheTable', {
                            where:{
                                size: 6
                                ,page: 1
                                ,order :'id asc'
                                ,beginTime: ltoday+' 0:0,'
                                ,workerId: $.cookie('id')
                            }
                        });
                    })
                }
            });
            //    弹出框日期选择
            layui.use('laydate', function(){
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#day' //指定元素
                    ,calendar: true
                });
            });
        });
    </script>
</body>
</html>